<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <link href="/book_edit.css" rel="stylesheet">
</head>
<body>

<!-- Person edition -->
<form id="edit-form" action="edit.html" th:action="@{/edit(id=${bookDto.id})}" th:method="post" th:object="${bookDto}">
    <h3 th:text = "#{book-form-header}">Book Info:</h3>

    <div class="row">
        <label for="id-input" th:text="#{book-field-id} + ':'">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${bookDto.id}" value="1" width="100%"/>
    </div>
    <div class="row">
        <label for="book-title-input" th:text="#{book-field-title} + ':'">Title:</label>
        <input id="book-title-input" name="title" type="text" th:value="${bookDto.title}" value="Evgeniy Onegin"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="${bookDto.title}">Wrong book title error</div>
    </div>
    <div class="row">
        <label for="drop-author" th:text="#{book-field-author} + ':'">Author:</label>
            <select class="form-control" th:field="${bookDto.authorId}" type="text" id="drop-author">
                <option value="0" th:text="#{id-field-should-has-expected-size} + ' ' + #{book-field-author}">Select author</option>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
            </select>
        <div class="errors" th:if="${#fields.hasErrors('authorId')}" th:errors="${bookDto.authorId}">Wrong author error</div>
    </div>

    <div class="row">
        <label for="drop-genre" th:text="#{book-field-genre} + ':'">Genre:</label>
        <select class="form-control" th:field="${bookDto.genreId}" type="text" id="drop-genre">
            <option value="0" th:text="#{id-field-should-has-expected-size} + ' ' + #{book-field-genre}">Select genre</option>
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('genreId')}" th:errors="${bookDto.genreId}">Wrong genre error</div>
    </div>

    <div class="row">
        <button type="submit" th:text="#{save-button-caption}">Save</button>
        <a href="list.html" th:href="@{/}"><button type="button" th:text="#{cancel-button-caption}">Cancel</button></a>
    </div>
</form>

</body>
</html>
